/* Step-2 add a text-align that will align items in the center.  */
.main-bottom-section {
  margin-top: 65px;
  /* alignment property */
  text-align: center;
}

/* Step-2 Add a width, height and display property to make these containers look like the design. */
.item {
    width: 45%;
    height: 200px;
    display: inline-block;
    margin: 10px 20px 30px;
    background: rgb(165, 165, 165);
    margin-bottom: 30px;
}

/* Step-2 Add a width, height, and margin property to make these containers look like the design. Remember margin: auto is helpful when trying to center a container. */
.full-width-item {
    width: 95%;
    height: 200px;
    
    margin:0 auto 30px;
    background: rgb(165, 165, 165);
}

/* Step-2 Add a width, height, and margin property to make these containers look like the design. Remember margin: auto is helpful when trying to center a container. */
.large-item {
    width: 95%;
    height: 400px;
    margin: auto;
    background: rgb(165, 165, 165);
}


